body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --main-content-width: 1370px;
  --main-padding-section: 50px;

  --color-gold: #CDC284;
  --color-blue: #013AAA;

  --font-size-base: 30px;
  --font-size-h1: 120px;
}

body, input {
  font-family: Graphik, sans-serif;
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 1.618;
}
h1, text-super {
  font-family: Graphik, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: var(--font-size-h1);
}

a {
  color: var(--color-blue);
}

section {
}

[data-section-title]::before {
  content: attr(data-section-title);
  text-align: right;
  display: block;
  position: absolute;
  width: 1200px;
  top: calc(10vmin - 20px);
  left: -1250px;
  margin: 0 auto;
  font-size: 50px;
  line-height: 40px;
  font-weight: 900;
  color: #EFEFEF;
  transform-origin: bottom right;
  transform: rotatez(-90deg);
  text-transform: uppercase;
}
.section-content {
  max-width: var(--main-content-width);
  margin: 0 auto;
  padding: 10vmin var(--main-padding-section);
}

.section_header {
  padding-top: var(--main-padding-section);
}
.section_header_title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(var(--font-size-h1) * 1.15);
  line-height: 0.9;
}
.section_header_graphic {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_header_graphic img {
  display: block;
  width: 50vw;
  max-width: 504px
}

.section_craft .section-content {
  color: #fff;
  padding: var(--main-padding-section);
}
.section_craft > .section-content {
  background: #000;
}


.top_logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: var(--main-padding-section);
  padding-left: 4px;
}
.top_logo_ninorico, .top_logo_nr {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s transform, 0.3s opacity;
  transform: translatey(0);
  opacity: 1;
}

.top_logo_ninorico.-hide {
  transform: translatey(-8px);
  opacity: 0; 
}
.top_logo_nr.-hide {
  transform: translatey(8px);
  opacity: 0; 
}

/* utils */
.text-gold {
  color: var(--color-gold);
}

/* elements */
.nr-form {
}
.nr-form_input {
  margin: 2rem 0;
  height: var(--font-size-h1);
  line-height: var(--font-size-h1);
  font-size: var(--font-size-h1);
  font-weight: 900;
  color: #EFEFEF;
}
.nr-form_input::before {
  content: attr(data-placeholder);
}
.nr-form_input input {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--font-size-h1);
  width: 100%;
  background: transparent;
  border: none;
}
.nr-form_input input:focus {
  outline: none;
}

.nr-quote {
  font-size: calc(var(--font-size-h1) * 0.666);
}
[nr-over-text]::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 100%;
  height: 10px;
  background: #000;
}
[nr-over-text]::after {
  content: attr(nr-over-text);
  position: absolute;
  top: -0.75em;
  left: 50%;
  background: var(--color-gold);
  font-size: 0.75em;
  line-height: 1;
  padding: 0 0.33em;
  transform: rotatez(-6deg) translatex(-50%);
}
[nr-over-text]:hover::after {
  transform: rotatez(-7deg) translatex(-50%);
}

@media screen and (max-width: 1370px) {
  :root {
    --font-size-base: 24px;
    --font-size-h1: 100px;
  }
}

@media screen and (max-width: 980px) {
  :root {
    --font-size-base: 20px;
    --font-size-h1: 60px;
    --main-padding-section: 30px;
  }
}